<div class="container d-flex p-2 justify-content-between" style="background-color: white; margin-bottom: 10px;">
    <span class="fs-3 fw-bolder">Monkey-Blogs</span>
    <form action="/searchblog" method="get">
        <div class="input-group">
            <input type="text" class="form-control search_bar" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="_id" placeholder="Search Blog by id">
            <button  type = "submit" class="input-group-text btn btn-primary"><i class='bx bx-search-alt-2'></i></button>
        </div>

    </form>
    <a href="/" class="btn btn-info"><i class='bx bx-add-to-queue'></i> Add Blog</a>
</div>

<div class="row">
    {{#each blogs}}
    <div class="col-lg-6 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item fw-bold"><span class="text-muted">Author: </span>{{this.author}}</li>
                <li class="list-group-item fw-bold"><span class="text-muted">UserName: </span>{{this.userName}}</li>
                <li class="list-group-item "><span class="text-muted">
                        <p>{{this.description}}</p>
                </li>
            </ul>
            <div class="d-flex card-body justify-content-between fs-7">
                <span><i class='bx bxs-heart' style='color:#eb0000'></i>{{this.likes}}</span>
                <span><i class='bx bx-dislike' style='color:#080808'></i>{{this.dilike}}</span>
            </div>
            <div class="card-body d-flex justify-content-between fs-4">
                <a href="/{{this._id}}" class="card-link"><i class='bx bxs-pencil'></i></a>
                <a href="/delete/{{this._id}}" class="card-link" ><i class='bx bxs-trash'></i></a>
            </div>
        </div>
    </div>
    {{/each}}
</div>